@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.section-title{
    background-color: #646262;
    color: #fff;
    text-transform: uppercase;
    padding: 2.5rem;
    text-align: center;
}

.link-btn{
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    font-size: 1.3rem;
    transition: all .5s ease-in-out;
    border: 3px solid;
}

.link-btn.light{
    border-color: #BCA177;
    color: #BCA177;
}

.link-btn.dark{
    border-color: #684723;
    color: #684723;
}

.link-btn.light:hover{
    color: #684723;
    background-color: #BCA177;
}

.link-btn.dark:hover{
    color: #BCA177;
    background-color: #684723;
}
